{% extends "base/base_blue_header.mjml" %}
{% load i18n %}

{% block blue-header %}
<mj-header-title-pretitle pre-title="OpenExO Community" title="Password reset"/>
{% endblock %}


{% block content %}
    <mj-text>{% trans "Dear" %} {{name}}</mj-text>,
    <mj-text>
        {% trans "A password reset for your account has been requested. Click on the button below to set your new password:" %}
    </mj-text>
{% endblock %}

{% block call_to_action %}
    {% trans "Set new password" as CALL_TO_ACTION %}
    {% include "base/call_to_action.mjml" with call_to_action=CALL_TO_ACTION %}
    <mj-text>
        {% trans "If you do not want to reset your password, please ignore this email." %}
    </mj-text>
{% endblock %}
