{% extends "base/base_blue_header.mjml" %}
{% load common_mails i18n django_markdown %}

{% block blue-header %}
<mj-header-title-pretitle pre-title="OpenExO" title="{{subject}}" />
{% endblock %}

{% block content %}
    <mj-text>
        {{message|markdown_safe|linebreaks}}
    </mj-text>
    <mj-text>
        {{name}}<br>
        {% if role_name %}
            {% blocktrans %}
                {{role_name}} in {{project_name}}
            {% endblocktrans %}
        {% endif %}
    </mj-text>
{% endblock %}


{% block call_to_action %}
    {% trans "GO TO OpenExO" as CALL_TO_ACTION %}
    {% include "base/call_to_action.mjml" with call_to_action=CALL_TO_ACTION %}
{% endblock %}
