{% extends "base/base_blue_header.mjml" %}
{% load common_mails i18n %}

{% block blue-header %}
    <mj-header-title-pretitle pre-title="OpenExO Community" title="New Invitation to join OpenExO" />
{% endblock %}


{% block content %}
    <mj-text>
    {% blocktrans %}
        Hi, you have been invited to join ExO-Works.
    {% endblocktrans %}
    </mj-text>

{% endblock %}

{% block call_to_action %}
    {% trans "Go to OpenExO" as CALL_TO_ACTION %}
    {% include "base/call_to_action.mjml" with call_to_action=CALL_TO_ACTION %}
{% endblock %}
