{% extends "base/base_blue_header.mjml" %}
{% load common_mails i18n %}

{% block blue-header %}
    {% blocktrans asvar the_title %}
        You have been invited to join {{team_name|capfirst}} in OpenExO
    {% endblocktrans %}
    <mj-header-title-pretitle pre-title="{{project_name}}" title="{{the_title}}" />
{% endblock %}


{% block content %}
    <mj-text>
    {% blocktrans %}
        OpenExO will help you follow the {{ project_type }} process, communicate with your team, and work on your assignments. Access is available now.
    {% endblocktrans %}
    </mj-text>
{% endblock %}

{% block call_to_action %}
    {% trans "JOIN THE TEAM" as CALL_TO_ACTION %}
    {% include "base/call_to_action.mjml" with call_to_action=CALL_TO_ACTION %}
{% endblock %}
