{% extends "base/base_blue_header.mjml" %}
{% load common_mails i18n %}

{% block blue-header %}
    {% blocktrans asvar subtitle %}
        You have been invited to observe the {{project_type}} {{project_name}} in OpenExO.
    {% endblocktrans %}
    <mj-header-title-pretitle pre-title="{{project_name}}" title="{{subtitle}}" />
{% endblock %}

{% block content %}
    <mj-text>
        {% blocktrans %}
            OpenExO will enable participants from the {{ project_type }} to follow the agenda, communicate with ExO Advisors and work on their assignments. You will be able to watch the activity. Access is available now.
        {% endblocktrans %}
    </mj-text>
{% endblock %}

{% block call_to_action %}
    {% trans "ACCESS" as CALL_TO_ACTION %}
    {% include "base/call_to_action.mjml" with call_to_action=CALL_TO_ACTION %}
{% endblock %}
