{% extends "project/base.html" %}
{% load bootstrap_pagination bootstrap3 staticfiles django_bootstrap_breadcrumbs breadcrumb %}

{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb "Settings" "project:sprint-edit" object.pk %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <div class='ibox float-e-margins'>
                <div class="ibox-title">
                    <h1>Settings</h1>
                </div>
                <div class="ibox-content">
                    <form id='form' action="." method="post"
                        class="wizard-big wizard-step-3 styles-form wizard clearfix"
                        enctype='multipart/form-data'
                        data-url-cancel="{% url 'project:project:dashboard' object.pk %}"
                        data-url-success="{% url 'project:project:dashboard' object.pk %}"
                        data-object="{{object.pk}}">
                        {% csrf_token %}
                        {% include 'sprint/sprint_form_base.html' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="{% static 'sprint/js/sprint_form.js' %}"></script>
{% endblock %}
