{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'New Event' %}" title="{{event_title}}" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}
{% block wrapper-title %}{% endblock %}

{% block content %}
    <mj-text><a href="{{user_profile_url}}" target="_blank">{{user_full_name}}</a> has created a new event which requires your approval:</mj-text>
    <mj-text><b>Event type:</b> {{event_type_name}}</mj-text>
    <mj-text><b>Event start date:</b> {{event_date}}</mj-text>
    <mj-text><b>Event status:</b> {{event_status}}</mj-text>
{% endblock %}

{% block call_to_action %}
    {% trans "See Event details" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
