{% extends "base/content.html" %}
{% load bootstrap_pagination guardian_tags staticfiles %}
{% load django_bootstrap_breadcrumbs breadcrumb %}
{% load images %}

{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb "Badges" "tools:badge:list" %}
{% endblock %}

{% block header %}
<div class="col-lg-10">
    <h2>Badges</h2>
</div>
<div class="col-lg-2">
    <a href="{% url 'tools:badge:add-activity-job' %}" class="btn btn-primary pull-right m-t-8 m-r-md">Add activity badge</a>
</div>
<div class="col-xs-12 p-r-none">
    {% render_view_breadcrumbs "base/breadcrumb.html" %}
</div>
{% endblock %}

{% block main %}
<div class='row customer-list-detail' data-role="list-detail" id='customer-list-detail'>
    <div class='col-lg-12' data-role='list' data-list="col-lg-12" data-detail='col-lg-8'>
        <div class='ibox float-e-margins'>
            <div class="ibox-title">
                <h2>Badges</h2>
            </div>
            <div class="ibox-content">
                <form action="." method='get'>
                    <div class="input-group">
                        {{form_filter.search}}
                        <span class="input-group-btn">
                                <button type="submit" class="btn btn btn-default"> <i class="fa fa-search"></i> Search</button>
                        </span>
                    </div>
                </form>
                <div class="table-responsive">
                    <div class="pull-right text-muted m-t-md m-b-md l-h-34">{{paginator.count}} client{{ paginator.count|pluralize }} found</div>
                    {% if object_list %}
                    <table class="table table-hover list-detail customer table-l-fix">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Category</th>
                                <th>Name</th>
                                <th>Num</th>
                                <th>Created</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                                {% get_obj_perms user for object as "perms_obj" %}
                            <tr data-role='trigger' data-url="{% url 'tools:badge:detail' object.pk %}" data-pk="{{object.pk}}">
                                <td>{{object.user.full_name}}</td>
                                <td>{{object.badge.get_category_display}}</td>
                                <td>{{object.badge.get_code_display}}</td>
                                <td>{{object.num}}</td>
                                <td>{{object.created}}</td>
                                <td data-action='stop'>
                                    <div class="ibox-tools pull-right l-h-34">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li>
                                                <a href="{% url 'tools:badge:delete' object.pk %}">Remove</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pull-right">
                        {% bootstrap_paginate page_obj range=10 %}
                    </div>
                    {% else %}
                        <div class="text-center full-width pull-left m-b-md">
                            You don't have badges yet.<br>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class='col-lg-0' data-role='detail' data-list="col-lg-0" data-detail='col-lg-4'></div>
</div>
{% endblock %}
