{% load images guardian_tags %}
<div class="row customer-tag">
    <div class="col-md-12 m-t-none l-h-32">
        {% if customer %}
        <div class='m-r-sm pull-left'>
            <div class="inline img-box">
                <img alt="{{customer.name}}" title="{{customer.name}}" src="{% image_thumbnail_url customer.profile_picture 24 24 %}" />
            </div>
        </div>
        {% endif %}
        <div class='media-body pull-left l-h-32 cut-text customer-name'>
            {% if not customer %}
                <span class='block cut-text' title="{{customer.name|capfirst}}">{{customer.name|capfirst|default:"No customer yet"}}</span>
            {% else %}
                <span class='block cut-text' title="{{customer.name|capfirst}}">{{customer.name|capfirst}}</span>
            {% endif %}

        </div>
    </div>
</div>
