{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="UNREAD MESSAGES" title="You have {{total}} unread messages" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}

{% block wrapper-title %}
{% endblock %}

{% block content %}
    <mj-text>Hello {{name}}, you have {{total}} unread messages:</mj-text>
    <mj-text>
        <ul>
            {% for conversation in conversations %}
                <li style="margin-bottom:20px;">
                    <mj-text>
                        <span style="font-size:16px;"><strong>{{conversation.total}} {{conversation.title}}</strong></span>
                    </mj-text><br>
                    <mj-text>
                        <span style="font-size:14px">{% autoescape off %}{{conversation.message|truncatewords_html:20}}{% endautoescape %}</span><br>
                        <a href="{{domain}}{{conversation.url}}" style="font-size:14px;color: #24a1e3;">Read more</a><br>
                    </mj-text>
                </li>
            {% endfor %}
        </ul>
    </mj-text>
{% endblock %}

{% block call_to_action %}
    {% trans "Go to OpenExO" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
