{% load guardian_tags %}

<h3>{{project.customer}}</h3>
<div class='row'>
    <div class='col-xs-12 members-container'>
        {% for participant in object.users_roles.actives %}
            <div class='item-user p-l-20 p-t-10 p-r-20 p-b-10 m-b all-border'>
                {% include "tags/link_user2.html" with member=participant.user %}
            </div>
        {% empty %}
            <div class='item-user p-l-20 p-t-10 p-r-20 p-b-10 m all-border text-center'>
                There isn't any participants yet
            </div>
        {% endfor %}
    </div>
</div>

{% regroup object.consultants_roles.actives|dictsortreversed:"role.id" by get_role_display as consultant_list %}
{% for role in consultant_list %}
    <h3>{{role.grouper}}</h3>
    <div class='row'>
        <div class='col-xs-12 members-container'>
            {% for participant in role.list %}
                <div class='item-user p-l-20 p-t-10 p-r-20 p-b-10 m-b all-border'>
                    {% include "tags/link_user2.html" with member=participant.consultant.user %}
                </div>
            {% empty %}
                <div class='item-user p-l-20 p-t-10 p-r-20 p-b-10 m all-border text-center'>
                    There isn't any participants yet
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
