<div class='ibox' id='feedback_container'>
    <div class="dev__header full-width text-center black-bg text-white pull-left cursor-pointer">
        <h4 class="m-t-10">Feedback & Support</h4>
    </div>
    <div class="ibox-content">
        <form id='feedback_form'>
            <div class='row'>
                <div class='col-xs-12'>
                    <label class="control-label" for="id_feedback_message">Ask a question, share your idea or report a problem.</label>
                    <div class='form-group'>
                        <textarea id='id_feedback_message' name='feedback_message' class='form-control' placeholder="Please, leave a comment" rows="5" required="required"></textarea>
                    </div>
                </div>
            </div>
            <div class="row m-b-xs ">
                <div class="col-xs-12">
                    <label class='control-label'>Upload a file</label>
                    <div class="form-group">
                        <input class="full-width" id="id_feedback_file" name="feedback_file" title="" type="file">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type='submit' class='ladda-button full-width btn btn-positive-choice' data-style="zoom-in">Send</button></div>
                </div>
            </div>
        </form>
    </div>
</div>
