[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
coverage = "*"
django-debug-toolbar = "*"
django-nose = "*"
django-pdb = "*"
django-rainbowtests = "*"
djproxy = "*"
flake8 = "*"
flake8-debugger = "*"
flake8-print = "*"
flake8-todo = "*"
freezegun = "*"
ipdb = "*"
mock = "*"
pep8 = "*"
pycodestyle = "*"
pylint = "*"
pylint-django = "*"
pytest-asyncio = "*"
pytest-django = "*"
requests-mock = "*"

[scripts]
install-local = "pip install -r local_requirements.txt"

[packages]
beautifulsoup4 = "*"
blinker = "*"
celery = "*"
dj-anonymizer = "*"
Django = "<3.0"
django-accredible = ">=0.5.5"
django-activity-stream = "*"
django-appconf = "*"
django-autocomplete-light = "*"
django-autoslug = "*"
django-bootstrap-breadcrumbs = "*"
django-bootstrap-pagination = "*"
django-bootstrap3 = "*"
django-braces = "*"
django-cors-headers = "*"
django-exo-mentions = "*"
django-exo-role = ">=1.0.6"
django-extensions = "*"
django-extra-fields = "*"
django-filter = "*"
django-filters = "*"
django-form-utils = "*"
django-guardian = "*"
django-model-utils = "*"
django-password-reset = "*"
django-ratings-models = "*"
django-redis-sessions = "*"
django-earlyparrot = ">=0.2.3"
django-rest-params = "*"
django-rest-swagger = "*"
django-sizefield = "*"
django-stats-redis = "*"
django-storages = "*"
django-tagulous = ">=0.14.1"
django-timezone-field = "*"
django-timezone-utils = "*"
django-typeform-feedback = ">=0.2.5"
django-versionfield2 = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
djangorestframework-jwt = "*"
drf-nested-routers = "*"
drf-yasg = "*"
exo-changelog = "*"
factory-boy = "*"
Faker = "*"
filestack-python = "*"
flatbuffers = "*"
graphene = "*"
graphene-django = "*"
graphql-core = "*"
graphql-relay = "*"
gunicorn = "*"
health-check = "*"
icalendar = "*"
inflection = "*"
lib-exo-messages = ">=1.4.1"
lib-exo-populator = "*"
mimeparse = "*"
packaging = "*"
pilkit = "*"
Pillow = "*"
pyaccredible = "*"
pycrypto = "*"
pyga = "*"
python-dateutil = "*"
pytz = "*"
PyYAML = "*"
redis = "*"
requests = "*"
requests-toolbelt = "*"
s3cmd="*"
schedule = "*"
sentry-sdk = "*"
service_identity = "*"
tblib = "*"
XlsxWriter = "*"
django-multiselectfield = "*"
analytics-python = "*"


[requires]
python_version = "3.7"
