[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "*"
celery = {version = "*", extras = ["redis"]}
channels = "*"
channels-redis = "*"
dj_anonymizer = "*"
Django = "<3.0"
django-appconf = "*"
django-cors-headers = "*"
django-embed-video = "*"
django-extensions = "*"
django-filter = "*"
django-model-utils = "*"
django-multiselectfield = "*"
django-redis-sessions = "*"
django-storages = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"
djangorestframework-jwt = "*"
drf-yasg = {version = "*", extras = ["validation"]}
exo-changelog = "*"
filestack-python = "*"
health-check = "*"
isodate = "*"
packaging = "*"
pyvimeo = "==1.0.8"
pyyaml = "*"
schedule = "*"
sentry-sdk = "*"
simple-user = ">=0.8.0"
django-admin-actions = "*"

[dev-packages]
autopep8 = "*"
coverage = "*"
daphne = "*"
django-nose = "*"
django-pdb = "*"
factory-boy = "*"
faker = "*"
flake8 = "*"
flake8-debugger = "*"
flake8-print = "*"
flake8-todo = "*"
ipdb = "*"
mock = "*"
pep8 = "*"
pycodestyle = "*"
pylint = "*"
pylint-django = "*"
pytest-asyncio = "*"
pytest-django = "*"
s3cmd = "*"
service_identity = "*"
tblib = "*"

[requires]
python_version = "3.7"
# Requirements installed directly in docker, leave commented please
# psycopg2-binary = "*"
