{{ "<!-- Contact -->" | safeHTML}}
    <section id="contact" class="main special">
        <header class="major">
            <h2>Contact</h2>
        </header>
        <div class="inner">
            <section>
                <form method="post" action="https://formspree.io/{{ .Site.Data.sections.trainer.email }}">
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="{{ .Site.Params.Contact.buttonSend }}" class="special" /></li>
                    </ul>
                </form>
            </section>
            <section class="split">
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-envelope"></span>
                        <h3>{{ .Site.Data.sections.trainer.username }}</h3>
                        <a href="mailto:{{ .Site.Data.sections.traineremail }}">{{ .Site.Data.sections.trainer.email }}</a>
                    </div>
                </section>
            </section>
        </div>
    </section>
