{% extends "base/base_circles.mjml" %}
{% load common_mails i18n tz common_dates %}

{% block circle-header %}
    <mj-header-ticket pre-title="Swarm Session" title="{% trans 'Swarm Session Summary' %}" />
{% endblock %}


{% block pre-content %}
    <mj-section>
        <mj-column>
            <mj-text>
                {% trans "Hello" %} {{ short_name|capfirst}},
            </mj-text>
            <mj-text>
                {% blocktrans %}
                    Here is a brief summary of your Swarm Session.
                {% endblocktrans %}
            </mj-text>
        </mj-column>
    </mj-section>
{% endblock %}

{% block content %}
    <mj-text>
     {{location}}  (UTC {{timezone_utc}})
    </mj-text>
    {% include "mails/circles/common/qa_slot.html" %}
    <mj-text font-style='bold'>
        {% trans "Summary" %}
    </mj-text>
    <mj-text>
        <ul>
            <li>
                {% blocktrans %}
                    Your team asked the Advisors <strong>{{total_questions}} questions.</strong>
                {% endblocktrans %}
            </li>
            {% if your_answers %}
            <li>
                {% blocktrans %}
                    You received a total of <strong>{{your_answers}}  answers </strong> to your questions.
                {% endblocktrans %}
            </li>
            {% endif %}
            <li>
                {% blocktrans %}
                    <strong>Average rating</strong> your team gave to our Advisors:  {{rating}}/5.
                {% endblocktrans %}
            </li>
        </ul>
    </mj-text>
{% endblock %}

{% block call_to_action %}
     {% trans "See Swarm Session" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
