{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'Project' %}" title="Welcome to the team!" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}

{% block wrapper-title %}
    {% include "base/user_information.mjml" with  name="OpenExO Team" user_title="" %}
{% endblock %}

{% block content %}
    <mj-text>Hello {{user_name}},</mj-text>
    <mj-text>
        You are now part of the {{team_name}} as {{roles}}.
    </mj-text>
    <mj-text>
    Go to the ExO Sprint to view more details about the project and your team!
    </mj-text>

    <mj-text>
        Kind regards,<br>
        <strong>OpenExO Team</strong>
    </mj-text>
{% endblock %}

{% block call_to_action %}
    {% trans "GO TO PROJECT" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
