{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'Project' %}" title="{{name}} is public!" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}

{% block wrapper-title %}
    {% include "base/user_information.mjml" with  name="OpenExO Team" user_title="" %}
{% endblock %}

{% block content %}
    <mj-text>Hello {{user_name}},</mj-text>
    <mj-text>
        The ExO Sprint project called {{name}} is starting on {{start_date}} and you will be participating as {{roles}}.
    </mj-text>
    <mj-text>
        Have a look to know more about what the project includes!
    </mj-text>
    {% if password %}
        <mj-text>
            Please use this password for log in: {{password}}
        </mj-text>
    {% endif %}
    {% if message %}
        <mj-text>
            {{message}}
        </mj-text>
    {% endif %}
    <mj-text>
        Kind regards,<br>
        <strong>OpenExO Team</strong>
    </mj-text>
{% endblock %}

{% block call_to_action %}
    {% trans "GO TO PROJECT" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
