{% extends "base/content.html" %}
{% load bootstrap_pagination guardian_tags staticfiles %}
{% load django_bootstrap_breadcrumbs breadcrumb %}
{% load images %}

{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb "Partners" "partner:list" %}
{% endblock %}

{% block header %}
<div class="col-lg-10">
    <h2>Partner</h2>
</div>
<div class="col-lg-2">
    {% if perms.partner.add_partner %}
        <a href="{% url 'partner:add' %}" class="btn btn-primary pull-right m-t-8 m-r-md">Add partner</a>
    {% endif %}
</div>
<div class="col-xs-12 p-r-none">
    {% render_view_breadcrumbs "base/breadcrumb.html" %}
</div>
{% endblock %}

{% block main %}
<div class='row customer-list-detail' data-role="list-detail" id='customer-list-detail'>
    <div class='col-lg-12' data-role='list' data-list="col-lg-12" data-detail='col-lg-8'>
        <div class='ibox float-e-margins'>
            <div class="ibox-title">
                <h2>Partners</h2>
            </div>
            <div class="ibox-content">
                <form action="." method='get'>
                    <div class="input-group">
                        {{form_filter.search}}
                        <span class="input-group-btn">
                                <button type="submit" class="btn btn btn-default"> <i class="fa fa-search"></i> Search</button>
                        </span>
                    </div>
                </form>
                <div class="table-responsive">
                    <div class="pull-right text-muted m-t-md m-b-md l-h-34">{{paginator.count}} partner{{ paginator.count|pluralize }} found</div>
                    {% if object_list %}
                    <table class="table table-hover list-detail customer table-l-fix">
                        <thead>
                            <tr>
                                <th width="40%">Partner</th>
                                <th>Location</th>
                                <th>Timezone</th>
                                <th width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                                {% get_obj_perms user for object as "perms_obj" %}
                            <tr data-role='trigger' data-url="{% url 'partner:detail' object.pk %}" data-pk="{{object.pk}}">
                                <td>
                                    {% include "tags/link_partner.html" with partner=object %}
                                </td>
                                <td>{{object.location|default:"-"}}</td>
                                <td>{{object.timezone|default:"-"}}</td>
                                <td data-action='stop'>
                                    {% include "partner/partner_action_list.html" with perms=perms_obj partner=object global_perms=perms %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="pull-right">
                        {% bootstrap_paginate page_obj range=10 %}
                    </div>
                    {% else %}
                        {% if perms.partner.add_partner %}
                            <div class="text-center full-width pull-left m-b-md">
                                You don't have partners yet.<br>
                                <a href="{% url 'partner:add' %}" class="btn btn-primary m-t-sm">Add partner</a>
                            </div>
                        {% else %}
                            <div class="text-center full-width pull-left m-b-md">
                                <i class="fa fa-building f-24" aria-hidden="true"></i><br>
                                You don't have partners yet.
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class='col-lg-0' data-role='detail' data-list="col-lg-0" data-detail='col-lg-4'></div>
</div>
{% endblock %}
