{% load images guardian_tags %}

{% get_obj_perms user for object as "perms_obj" %}
<div class='ibox float-e-margins'>
    <div class="ibox-title ibox-tools col-xs-12">
        <div class="pull-left m-r-sm">
            <img alt="image" src="{% image_thumbnail_url object.profile_picture 48 48 %}" />
        </div>
        <div class='pull-right icons-ibox-title'>
            <a class="close-link-detail pull-right m-r-none" data-role="close-detail">
                <i class="fa fa-times"></i>
            </a>
            {% include "partner/partner_action_list.html" with perms=perms_obj customer=object global_perms=perms %}
        </div>
        <div class="pull-left p-n t-a-left m-r-sm title with-image">
            <h3 class="block cut-text" title="{{object.name}}">{{object.name}}</h3>
            <p class="m-b-xs">{{object.timezone}}</p>
        </div>
    </div>
    <div class="ibox-content">
        <div id="tabs-customer" class="tabs-container details">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#clients">Clients</a></li>
                <li class=""><a data-toggle="tab" href="#members">Members</a></li>
                <li class=""><a data-toggle="tab" href="#contact">Contact</a></li>
            </ul>
            <div class="tab-content">
                <div id="clients" class="tab-pane active">
                    <div class="panel-body chat-activity-list">
                        <div class="chat-element no-padding no-margins m-t-14">
                            {% for customer in partner.customers.all %}
                                <div class='m-t-xs m-b-xs'>
                                    {% include "tags/link_customer.html" with customer=customer %}
                                </div>
                            {% empty %}
                                <div class="chat-element">
                                    <div class="row">
                                        <div class="col-md-12">Not clients yet</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id='members' class="tab-pane">
                    <div class="panel-body chat-activity-list">
                        <div class="chat-element no-padding no-margins m-t-14">
                            {% for u in customer.users_roles.actives.users %}
                                <div class='m-t-xs m-b-xs'>
                                    {% include "tags/link_user2.html" with member=u %}
                                </div>
                            {% empty %}
                                <div class="chat-element">
                                    <div class="row">
                                        <div class="col-md-12">Not users yet</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="contact" class="tab-pane">
                    <div class="panel-body">
                        <table class="table table-detail-right todo-list">
                            <tr>
                                <th class="no-top-border">
                                    <strong>City</strong>
                                </th>
                                <td class="">
                                    {{object.city|default:"Not filled"}}
                                </td>
                            </tr>
                            <tr class="">
                                <th class="no-top-border">
                                    <strong>Location</strong>
                                </th>
                                <td class="">
                                    {{object.location|default:"Not filled"}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
