{% extends "exo-backoffice/base.html" %}

{% block content %}
<div id="not-found">
  <div class="logo"></div>
  <div class="not-found-container">
    <div class="not-found-details">
      <span class="error-code">
        400
      </span>
      <span class="error-message">
        Bad request :/
      </span>
      <span class="error-description">
        The request could not be understood by the server
      </span>
      <p>&nbsp;</p>
      <span class="map_title">
        Here is a little map that might help you get back on track
        <br><br><br>
        <a href="/" class="map_content">Home</a>
      </span>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>
{% endblock %}
