{% extends "exo-backoffice/base.html" %}

{% block content %}
<div id="not-found">
  <div class="logo"></div>
  <div class="not-found-container">
    <div class="not-found-details">
      <span class="error-code">
        403
      </span>
      <span class="error-message">
        Restricted :/
      </span>
      <span class="error-description">
        You are not supposed to be here
      </span>
      <p>&nbsp;</p>
      <span class="map_title">
        Here is a link that might help you get back on track
        <br><br><br>
        <a href="/" class="map_content">Home</a>
      </span>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>
{% endblock %}
