{% extends "base/base_blue_header.mjml" %}
{% load common_mails i18n %}

{% block blue-header %}
    <mj-header-title-pretitle pre-title="OpenExO Community" title="Sign Up Invite Reminder" />
{% endblock %}


{% block content %}
    <mj-text>Hi {{user_name}}</mj-text>
    <mj-text>
    {% blocktrans %}
        You were invited to join the OpenExO Community, so we would like to remind you that access is still available.
    {% endblocktrans %}
    </mj-text>
    {% if description %} <mj-text>{{description}}</mj-text> {% endif %}
{% endblock %}

{% block call_to_action %}
    {% trans "SIGN UP" as CALL_TO_ACTION %}
    {% include "base/call_to_action.mjml" with call_to_action=CALL_TO_ACTION %}
{% endblock %}

{% block after-call-to-action %}
    <mj-section>
        <mj-column>
            <mj-text>
            {% blocktrans %}
                To continue the process you will be required to accept our general agreement.
            {% endblocktrans %}
            </mj-text>
            <mj-text>
            {% blocktrans %}
                Once you have completed this step you will be able to access OpenExO, the platform that supports the OpenExO Community activity and projects.
            {% endblocktrans %}
            </mj-text>
        </mj-column>
    </mj-section>
{% endblock %}
