[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[scripts]
install-local = "pip install -r local_requirements.txt"

[dev-packages]
autopep8 = "*"
coverage = "*"
django-debug-toolbar = "*"
django-nose = "*"
django-pdb = "*"
flake8 = "*"
flake8-debugger = "*"
flake8-print = "*"
flake8-todo = "*"
ipdb = "*"
mock = "*"
pep8 = "*"
pycodestyle = "*"
pylint = "*"
pylint-django = "*"
pytest-asyncio = "*"
pytest-django = "*"
requests-mock = "*"
s3cmd = "*"
tblib = "*"

[packages]
boto =  "*"
celery = {version = "*", extras = ["redis"]}
dj_anonymizer = "*"
Django = "<3.0"
django-activity-stream = "*"
django-appconf = "*"
django-celery-results = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filestack = "*"
django-guardian = "*"
django-model-utils = "*"
django-multiselectfield = "*"
django-redis-sessions = "*"
django-storages = "*"
django-timezone-field = "*"
django-wkhtmltopdf = "*"
djangorestframework = "*"
djangorestframework-camel-case =  "*"
djangorestframework-jwt =  "*"
drf-nested-routers = "*"
drf-yasg = {version = "*", extras = ["validation"]}
exo-changelog = "*"
factory-boy = "*"
Faker =  "*"
gunicorn = "*"
health-check = "*"
icalendar = "*"
lib-exo-populator = "*"
pyyaml = "*"
redis = "*"
requests-toolbelt = "*"
schedule =  "*"
sentry-sdk = "*"
service_identity = "*"
simple-user = ">=0.8.0"
singleton-decorator = "*"
stringcase = "*"
whitenoise = "*"
django-exo-role = "*"
django-sortedm2m = "*"
django-filter = "*"

# Requirements installed directly in docker, leave commented please
# psycopg2-binary = "*"
