{% if circle.code == 'A' %}

<img src='https://s3.amazonaws.com/exolever/static/assets/public/hubs/alumni.png' width='56' height='56' alt='image'/>

{% elif circle.code == 'B' %}

<img src='https://s3.amazonaws.com/exolever/static/assets/public/hubs/ambassadors.png' width='56' height='56' alt='image'/>

{% elif circle.code == 'C' %}

<img src='https://s3.amazonaws.com/exolever/static/assets/public/hubs/coaches.png' width='56' height='56' alt='image'/>

{% elif circle.code == 'T' %}

<img src='https://s3.amazonaws.com/exolever/static/assets/public/hubs/consultants.png' width='56' height='56' alt='image'/>

{% elif circle.code == 'E' %}

<img src='https://s3.amazonaws.com/exolever/static/assets/public/hubs/ecosystem.png' width='56' height='56' alt='image'/>

{% elif circle.code == 'X' %}

<img src='https://s3.amazonaws.com/exolever/static/assets/public/hubs/book_collaborators.png' width='56' height='56' alt='image'/>

{% elif circle.code == 'M' %}

<img src='https://s3.amazonaws.com/exolever/static/assets/public/hubs/marketplace.png' width='56' height='56' alt='image'/>

{% elif circle.code == 'R' %}

<img src='https://s3.amazonaws.com/exolever/static/assets/public/hubs/exo_trainers.png' width='56' height='56' alt='image'/>

{% else %}

<img src='https://s3.amazonaws.com/exolever/static/assets/public/hubs/generic_hub.png' width='56' height='56' alt='image'/>

{% endif %}