{% extends "base/base_circles.mjml" %}
{% load i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'New mention in' %} {{circle_name}}" title="{{post_title}}" />
{% endblock %}

{% block wrapper-title %}
    {% include "base/user_information.mjml" with image=created_by_profile_picture name=created_by_name user_title=created_by_role %}
{% endblock %}

{% block content %}
    <mj-text>{{answer_content|safe|truncatewords_html:30}}</mj-text>
{% endblock %}

{% block call_to_action_out %}
    <mj-section padding="20px 0px 0px 0px">
        <mj-column>
            {% trans "Reply" as see_details %}
            {% include "base/call_to_action.mjml" with call_to_action=see_details %}
        </mj-column>
    </mj-section>
{% endblock %}
