{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="Announcement" title="{% trans 'New Reply to an Announcement' %}" />

{% endblock %}

{% block wrapper-image %}
<mj-section>
  <mj-column>
    <mj-image border-radius="50%" width="84px" align="left" src="{{domain}}{{created_by_profile_picture}}" />
  </mj-column>
</mj-section>
{% endblock %}

{% block wrapper-title %}
{% endblock %}

{% block pre-content %}
    <mj-section>
        <mj-column>
            <mj-text>
                {% trans "Hello" %} {{ short_name|capfirst}},
            </mj-text>
            <mj-text>
                {% trans 'There is a new reply to the announcement:' %} “{{post_title}}”
            </mj-text>
        </mj-column>
    </mj-section>
{% endblock %}

{% block content %}
    <mj-text>
        <strong>{{created_by_name}}</strong>
    </mj-text>
    <mj-text font-weight='bold'>
        {% trans 'Reply' %}
    </mj-text>
    <mj-text css-class="post-body-content">
        {{answer_content|safe|truncatewords_html:30}}
    </mj-text>

{% endblock %}

{% block call_to_action %}
    {% trans "SEE REPLY" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
