{% load bootstrap_pagination exotemplates class_name images %}

<div class='row' data-role="list-detail" id='{{object_class}}-list-detail'>
    <div class='col-lg-12' data-role='list' data-list="col-lg-12" data-detail='col-lg-8'>
        <div class='ibox float-e-margins'>
            <div class="ibox-title ibox-tools col-xs-12">
                <h2 class="pull-left">{{view.model|verbose_name_plural}}</h2>
            </div>
            <div class="ibox-content m-t-none">
                {% block search_form %}
                    <form action="." method='get'>
                        <div class="input-group">
                            {{form_filter.search}}
                            <span class="input-group-btn">
                                    <button type="submit" class="btn btn btn-default"> <i class="fa fa-search"></i> Search</button>
                            </span>
                        </div>
                    </form>
                {% endblock %}
                <div class="table-responsive">
                    <span class="pull-right text-muted m-t-md m-b-md l-h-34">
                        {% block pagination_info %}
                        {{paginator.count}} {{paginator.count|exo_pluralize:view.model|lower}} found
                        {% endblock %}
                    </span>
                    {% block master_view %}
                    {% endblock %}
                    {% if is_paginated %}
                        <div class="pull-right">
                            {% bootstrap_paginate page_obj range=10 %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class='col-lg-0' data-role='detail' data-list="col-lg-0" data-detail='col-lg-4'>
        {% block detail_view %} {% endblock %}
    </div>
</div>
