{% load bootstrap3 %}
{% bootstrap_field form.send_welcome_consultant %}
{% bootstrap_field form.send_welcome_participant %}
{% bootstrap_field form.participant_step_feedback_enabled %}
{% bootstrap_field form.participant_step_microlearning_enabled %}
{% bootstrap_field form.hide_from_my_jobs %}
{% bootstrap_field form.ask_to_ecosystem_enabled %}
{% bootstrap_field form.team_communication_enabled %}
{% bootstrap_field form.directory_enabled %}
{% bootstrap_field form.advisor_request_enabled %}
{% bootstrap_field form.fix_password %}
{% bootstrap_field form.version %}
{% bootstrap_field form.template_assignments %}
{% bootstrap_field form.num_tickets_per_team %}
{% bootstrap_field form.tickets_price %}
{% bootstrap_field form.tickets_currency %}
