<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">The
following Terms of Service, which include any guideline, policy or
content displayed on the Website, are a legally binding contractual
agreement between you (“Consultant”, “you,” “your”) and
ExO Works LLC (“ExO,” “we,” “us”) (here in after
collectively referred to as the “Terms of Service”).&nbsp;&nbsp;By
visiting or using the services available from the domain and
sub-domains of <a href="http://www.openexo.com/" target="_blank">www.openexo.com</a>
(the “Platform”), you agree to be legally bound by these Terms of
Service. We reserve the right to revise these Terms of Service and
all linked information from time to time in our sole discretion by
updating this posting or any linked information.&nbsp;Unless
otherwise provided in such revision, the revised terms will take
effect when they are posted.</font></font></p>
<ol>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">OVERVIEW
    AND DEFINITIONS</font></font></p>
</ol>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">The
Platform is an online marketplace that enables buyers of consulting
services (“Customers”) to search for and obtain services from
providers of consulting services (“Consultants”). The Platform
contains features that enable Consultants and Customers to do, among
other things, the following:</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Customers:&nbsp;</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">Create
profiles, post RFPs, search for Consultants, communicate with
Consultants, award projects to Consultants by entering into
transactions with ExO, manage projects and tools, leave feedback and
rankings for Consultants, and pay ExO for work completed by
Consultant. Customers will also be able to access and leverage tools
created and provided by ExO in order to advance their learning, aid
in service delivery/reception, provide continued support after
project term for a defined term of access, and collaborate with other
member Consultants and Customers.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Consultants:</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">
Create profiles, advertise capabilities, submit quotes, articles,
case studies and other content, obtain job awards, invoice ExO,
obtain feedback and rankings from Customers, and receive payment from
ExO for services delivered to Customer. Consultants will also be able
to access and leverage tools created and provided by ExO in order to
advance their learning, deliver services, and collaborate with other
member Consultants.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">We
also provide Consultants with certain services described in, and
subject to, these Terms of Service </font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">(as
further defined below, the “</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">ExO
</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">Services”).</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;We
may add, delete or modify some or all of such ExO Services at any
time at our sole discretion with reasonable notice posted in advance
on the Platform. Capitalized terms used in these Terms of Service
have the following meanings:</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
“<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Account</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">”
means the account created by the Platform upon registration.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
“<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>ExO</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">
</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Services</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">”
means the benefits and support provided to Consultant by ExO Works
directly or through the Platform.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
“<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Platform</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">”
means the website operated by ExO at </font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">www.openexo.com</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">
or any replacement URL.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
“<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Project”
</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">means
any services that ExO provides to a Customer.</font></font></p>
<ol start="2">
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">REGISTRATION</font></font></p>
</ol>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">A.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Eligibility.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;To
access our ExO Services through our Platform, you must be a legal
entity, or an individual who can form legally binding contracts. To
become a Consultant, you must accept all of the terms and conditions
in, incorporated by reference in, and linked to, these Terms of
Service. By becoming a Consultant, you agree to: (1) abide by the
Terms of Service and the processes, procedures, and guidelines
described throughout the Platform; (2) be responsible for your use of
the Platform and Project delivery; and (3) perform your obligations
as specified by any Statement of Work that you accept, unless such
obligations are prohibited by law or by the Terms of Service.&nbsp;ExO
reserves the right, in its sole discretion, to refuse, suspend, or
terminate Services to anyone. Any Consultant that is an entity (a
“Consultant Entity”) should refer to the Platform to determine
whether such Consultant Entity should also enter into the Company’s
Channel Partner Agreement.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">B.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Registration.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;To
become a Consultant and to access the ExO Services you must register
for an Account. You agree to provide true, accurate and complete
information as prompted by the registration form and all forms you
access on the Platform, and to update this information to maintain
its truthfulness, accuracy and completeness.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">1.&nbsp;&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Accounts
and Profiles.&nbsp;</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">Once
you have registered with the Platform as a Consultant, the Platform
will create your Account with ExO and associate it with an account
number. You may create a profile under your Account.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">2.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Username
and Password.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;During
registration, you will be asked to choose a password for the Account.
As a Consultant, you agree and you are entirely responsible to
safeguard and maintain the confidentiality of the username and
password you use to access this Platform. You authorize ExO to assume
that any person using the Platform with your username, password
and/or security questions and answers is you or has prior
authorization by ExO to act for you. You agree to notify us
immediately if you suspect any unauthorized use of the Account.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>3.&nbsp;Team
Accounts.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;As
a Consultant, you may wish to add Team Members to project delivery
and to act on your behalf in the roles you assign. Each Team Member
must have his or her own Account so as to ensure this person meets
minimum qualification standards and has accepted these Terms, unless
prior consent has been given by ExO. You agree to grant Team Members
rights to act on your behalf only in accordance with these Terms of
Service. Additionally, you agree to be responsible and liable for any
actions of any Team Member and any other user who uses your account.
You represent that your Team Members have the authority to accept
these Terms of Service as your legally binding obligation. You agree
(1) not to use any Account, Team Member’s account, username, or
password of another Consultant that you are not authorized to use,
and (2) not to allow others who are not authorized to do so to use
your account or any related Team Member account at any time.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">If
any of your Team Members’ profiles violate these Terms of Service,
your ability to use the Platform may be affected. ExO reserves the
right to revoke your and/or your Team Members’ membership
privileges without warning if, at ExO’s sole discretion, false or
misleading information has been provided by you or any of your Team
Members.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">C.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Membership.&nbsp;</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">ExO
currently provides Consultants</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;one
membership type, which includes access to all Consultant tools and
materials in the Platform. ExO reserves the right to at any time
alter membership structure to include a fee, at which time Consultant
will be notified in advance via the Platform and have the option to
terminate the agreement. Note that membership benefits may change
from time to time at the sole discretion of ExO and upon reasonable
notice posted in advance on the</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">
Platform</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">.</font></font></p>
<ol start="3">
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">EXO
    SERVICES AND CONSULTANT RESPONSIBILITIES</font></font></p>
</ol>
<p style="margin-left: 0.23in; margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">The
ExO Services shall consist of the following, which may be modified or
supplement by ExO from time to time:</font></font></p>
<ol>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">Access
    to training, tools, project management and delivery aids, as well as
    the potential for project leads brought to Consultant by ExO. &nbsp;</font></font></p>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">Direct
    and facilitated access to other ExO Consultant Network Members.</font></font></p>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">Design
    for business cards, presentations, documents, and other template
    materials.</font></font></p>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">Monthly
    (approximately) conference calls between ExO and Consultant Network
    in order to share sales updates, Platform improvements and
    notifications, as well as membership and Terms updates if
    applicable.</font></font></p>
</ol>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">All
Consultants agree to act in accordance with the following
requirements and responsibilities:</font></font></p>
<ol>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">Evangelize
    ExO locally and in collaboration with the global community,
    including respect for and participation in social media and other
    strategic marketing initiatives.</font></font></p>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">Attend
    conference calls in all possible cases and if unable to be present
    during live call, to make every effort to listen to recording in a
    timely fashion (ie. 1 week after recording is made available). </font></font>
    </p>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">Maintain
    a certain level of knowledge about exponential technologies,
    Exponential Organizations Model (current and future iterations)</font></font></p>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">Maintain
    a respectful, collaborative/supportive, and positive relationship
    with peers in the Consultant Network.</font></font></p>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">Represent
    ExO with the highest standard of ethics, integrity, and
    professionalism, especially in interactions with each other,
    customers (past and present) and the ExO core team</font></font></p>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">Actively
    contribute to the mentoring and training of new group members in
    general, and as a requirement if agreed upon in a Statement of Work.</font></font></p>
</ol>
<p style="margin-left: 0.5in; margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<br/>
<br/>

</p>
<ol start="4">
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">RELATIONSHIPS</font></font></p>
</ol>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">A.&nbsp;&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>ExO
and Consultant.</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">1.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Statement
of Work.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;ExO
and a Consultant shall enter into a Statement of Work for each
Project.. Upon both parties’ acceptance of a Statement of Work,
Consultant agrees to deliver the services and deliverables to ExO
outlined in each Statement of Work in accordance with the applicable
Statement of Work and these Terms of Service. You agree not to enter
into any contractual provisions in conflict with these Terms of
Service. Any provision of a Statement of Work in conflict with these
Terms of Service is void. Consultant is responsible for the
performance and quality of the services in accordance with the
Statement of Work in a timely manner. ExO and Consultant each
covenants and agrees to act with good faith and fair dealing in
performance of the Statement of Work.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">2.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Independence.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;
ExO acknowledges and agrees that Consultant’s role is that of an
independent contractor. The Consultant shall perform services as an
independent contractor and nothing in these Terms of Service shall be
deemed to create a partnership, joint venture, agency, or
employer-employee relationship between ExO and Consultant or between
Customer and Consultant.</font></font></p>
<ol start="5">
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">CERTIFICATION
    AND ROLES.</font></font></p>
</ol>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">A.
</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Certification
process.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">
Any Consultant will need to pass a certification test in order to be
considered a certified ExO Consultant. The Certification Process may
also include maintenance activities and/or tests that will need to be
completed successfully by the Consultant in order to maintain
certification.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">B.</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>
Badges and Roles</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">.
Any individual who becomes certified will become a member of the
platform and will be labeled a “Consultant” by ExO, which will
allow said Consultant to participate in projects. Consultants will
participate in projects in a Role determined by the Statement of
Work. Once the Consultant has performed said Role in any one project,
Consultant will gain that certification as an internally used
name/term (Badge). Publicly (Linkedin, ExO works website), such
Consultant will always be known as a ‘consultant’. Although a
Consultant may take on a Role that has the same name as the Badge,
Badges will not be officially awarded until the Consultant has
successfully completed a project in the given Role.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">C.
</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Entity
Consultants</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">.
If an individual is an employee or a consultant of an Entity
Consultant, the certification process for such individual is the
same, however, this individual can only participate in Projects as an
employee or consultant of the Entity Consultant if the Entity
Consultant is involved in the Project.. If a Consultant who is an
employee or consultant of an Entity Consultant leaves such Entity
Consultant, this individuals takes their certifications with them.
ExO is not responsible for the terms  of any employee or consultant
relationship between an Entity Consultant and its employees and
consultants. ExO may provide different access to ExO Services, tool
or resources to Entity Consultants </font></font>
</p>
<ol start="6">
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">ExO
    FEES</font></font></p>
</ol>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">A.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Membership
Fee.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;No
membership fee as of present.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
 <font face="Arial, serif"><font size="2" style="font-size: 11pt">B.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Project
Fees.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;ExO
is paid directly by Customer in all cases unless otherwise agreed by
ExO. ExO agrees to pay Consultant for hours and/or project
deliverables as set forth in the Statement of Work for the
corresponding Project. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">C.
We reserve the right to change membership fees, service fees,
processing fees or any other fee that may be charged by ExO at any
time, at the sole discretion of ExO and upon reasonable notice posted
in advance on the Platform. No refunds of fees already paid will be
given. If we exercise our right to cancel a membership as provided
under these Terms of Service, at any time, we will not refund any
membership fee already paid.</font></font></p>
<ol start="7">
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">ExO
    BILLING AND PAYMENT SERVICES</font></font></p>
</ol>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">A.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Payment
Methods.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;Though
ExO does not currently charge a membership fee, Consultants must
provide and verify at least one valid payment method. You hereby
authorize ExO to store, or contract with a third-party to store,
payment method information for future use as provided in these Terms
of Service and our Privacy Policy. To the extent permitted by
applicable law, you acknowledge and agree that we may use certain
third-party vendors and service providers to process payments and
manage your payment method information.</font></font></p>
<ol>
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    &nbsp;<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Credit
    Card, PayPal and other</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">
    </font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Payment
    Methods.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;You
    hereby authorize ExO to store credit card or other payment method
    details as a method of payment for Project delivery, and to charge
    your credit card (or any other payment method authorized by ExO or
    mutually agreed to between you and ExO).</font></font></p>
</ol>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">By
providing payment method information through the Platform, you
represent, warrant, and covenant that: (a) you are legally authorized
to provide such information to us; and (b) such action does not
violate the terms and conditions applicable to your use of such
Payment Method(s) or applicable law. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>B</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Invoicing</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">Consultant
will invoice ExO for Project delivery based on method and format to
be determined by each individual Statement of Work. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>C</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Currency</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>.</b></font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">ExO
Billing and Payment Services operate in US Dollars and therefore ExO
is not responsible for currency fluctuations that occur when billing
or crediting a credit or debit card denominated in a currency other
than US Dollars, nor is ExO responsible for currency fluctuations
that occur when receiving or sending payment via wire transfer, check
or automated clearinghouse to and from your bank account, credit card
account or PayPal account.</font></font></p>
<ol start="8">
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">TERM;
    TERMINATION AND SUSPENSION</font></font></p>
</ol>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">A.
These Terms of Service shall become effective as your contractual
agreement upon your use of the Platform, and shall continue until
your Account is terminated by you or ExO as provided for under the
terms of this section.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">B.
Unless otherwise agreed to in writing between the parties, either
party may terminate the contractual agreement represented by these
Terms of Service at any time upon notice to the other party. In such
event, your Account is automatically terminated and (1) ExO shall
continue to perform those services necessary to complete any open
transaction between Consultant and a Customer.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">C.
Any termination of an Account will automatically lead to the
termination of all related profiles.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">D.
Without limiting our other remedies, we may issue a warning, or
temporarily suspend, indefinitely suspend or terminate your Account
or your involvement in a Project, and refuse to provide any or all
services to you if: (1) you breach the letter or spirit of any terms
and conditions of these Terms of Service or the linked policies and
information incorporated herein by reference, including our written
policies and procedures posted on the Platform; (2) we are unable to
verify or authenticate any information you provide to us; or (3) we
believe in our sole discretion that your actions may cause legal
liability for you, Customer, ExO, or are contrary to the interests of
the Platform. Once indefinitely suspended or terminated, you must not
continue to use the Platform under the same Account, a different
Account, or register under a new Account.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">E.
In addition, violations of these Terms of Service may be prosecuted
to the fullest extent of the law and may result in additional
penalties and sanctions.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">F.
Without limiting our other remedies, to the extent you engage in
actions or activities which circumvent the ExO Billing and Payment
Services or otherwise reduce fees owed to ExO by Customer under these
Terms of Service, you must pay ExO for all fees owed to ExO and
reimburse ExO for all losses and costs and reasonable expenses
(including attorney fees) related to investigating such breach and
collecting such fees.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">G.
When your Account is terminated for any reason, you may no longer
have access to data, messages, files and other material you keep on
the Platform. The material may be deleted along with all your
previous posts and proposals.</font></font></p>
<ol start="9">
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">CONFIDENTIALITY;
    INTELLECTUAL PROPERTY</font></font></p>
</ol>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">A.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Confidentiality.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;Consultant
recognizes and acknowledges that ExO possesses certain confidential
information that constitutes a valuable, special, and unique asset.
As used herein, the term “confidential information” includes all
information and materials belonging to, used by, or in the possession
of ExO relating to its products, processes, services, technology,
inventions, patents, ideas, contracts, financial information,
developments, business strategies, pricing, current and prospective
customers, marketing plans, and trade secrets of every kind and
character, but shall not include (a) information that was already
within the public domain at the time the information is acquired by
Consultant, or (b) information that subsequently becomes public
through no act or omission of the Consultant. Consultant agrees that
all of the confidential information is and shall continue to be the
exclusive property of ExO, whether or not prepared in whole or in
part by Consultant and whether or not disclosed to or entrusted to
Consultant’s custody.  Consultant agrees that Consultant shall not,
at any time following the execution of this Agreement, use or
disclose in any manner any confidential information of ExO.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">B.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Intellectual
Property.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;To
the extent any inventions, technologies, reports, memoranda, studies,
writings, articles, plans, designs, specifications, exhibits,
software code, or other materials prepared by Consultant in
connection with any Project include material subject to copyright
protection, such materials have been specially commissioned by ExO
and they shall be deemed “work for hire” as such term is defined
under U.S. copyright law.  To the extent any such materials do not
qualify as “work for hire” under applicable law, and to the
extent they include material subject to copyright, patent, trade
secret, or other proprietary rights protection, Consultant hereby
irrevocably and exclusively assigns to ExO, its successors, and
assigns, all right, title, and interest in and to all such materials.
 To the extent any of Consultant rights in the same, including
without limitation any moral rights, are not subject to assignment
hereunder, Consultant hereby irrevocably and unconditionally waives
all enforcement of such rights.  Consultant shall execute and deliver
such instruments and take such other actions as may be required to
carry out and confirm the assignments contemplated by this paragraph
and the remainder of this Agreement.  All documents, magnetically or
optically encoded media, and other tangible materials created by
Consultant as part of its services under this Agreement shall be
owned by ExO.</font></font></p>
<ol start="10">
    <li/>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in"><a name="_GoBack"></a>
    <font face="Arial, serif"><font size="2" style="font-size: 11pt">REPRESENTATIONS,
    DISCLAIMERS, LIMITATIONS AND EXCLUSIONS</font></font></p>
</ol>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">A.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Consultant
Representations and Warranties.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;Each
Consultant hereby represents warrants to the Company that:</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">1.
Consultant has the right and authority to enter into the Terms of
Service and to transact business hereunder.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">2.
Consultant will not use the Platform or its services to defraud or
mislead any person or entity, including without limitation ExO or any
other Consultant.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">3.
Consultant will not use the Platform to violate any law or regulation
of the United States of America or any international law or treaty.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">4.
Consultant’s agreement to perform the Work pursuant to this
Agreement does not violate any agreement or obligation between
Consultant and a third party. </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">5.
No work performed by Consultant in connection with a Project shall
infringe any copyright, patent, trade secret, or other proprietary
right held by any third party.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">6.
The services provided by Consultant shall be performed in a
professional manner, and shall be of a high grade, nature, and
quality.  </font></font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>B.
Additional Agreements</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">.
Each Consultant hereby agrees:</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">1.
Not to grant access to an Account only to users authorized to act on
behalf of the Consultant and only in accordance with these Terms of
Service.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">2.
To be fully responsible and liable for any action of any user who
uses your Account.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">3.
Not to use your Account, username, or password of another Consultant
that you are not expressly authorized to use.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">4.
Not to allow any third party who is not authorized to do so to use
your Account at any time.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">5.
Not to use any device, software or routine, including but not limited
to any viruses, Trojan horses, worms, time bombs, robots or
denial-of-service attacks, intended to damage or interfere with the
operation of the Platform or any transaction being conducted through
the Platform.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">6.
Not to intercept or expropriate any system, data or personal
information from the Platform.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">7.
Not to take any action that imposes an unreasonable or
disproportionately large load on the Platform infrastructure,
including but not limited to “spam” or other such unsolicited
mass emailing techniques.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">C.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>General
Release.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;If
you have a dispute with another Consultant, you release ExO (and our
officers, directors, agents, subsidiaries, joint ventures and
employees) from claims, demands and damages (actual and
consequential) of every kind and nature, known and unknown, arising
out of or in any way connected with such dispute.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">D.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Indemnity.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;You
agree to defend, hold harmless and indemnify ExO from and against any
and all losses, costs, expenses, damages or other liabilities
incurred by ExO from and against any cost, liability, loss, damage,
cause of action, claim, suit, proceeding, demand or action brought by
a third party against ExO: (1) in connection with your use of the
Services including any payment obligations incurred through use of
the ExO Billing and Payment Services; or (2) resulting from: (a) your
use of the Platform (b) your decision to supply credit information
via the Platform, including personal financial information; (c) your
decision to submit postings and accept offers from other Registered
Users; (d) any breach of contract or other claims made by Registered
Users with which you conducted business through the Platform; (e)
your breach of any provision of these Terms of Service; (f) any
liability arising from the tax treatment of payments or any portion
thereof; (g) any negligent or intentional wrongdoing by any
Registered User; (h) any act or omission of yours with respect to the
payment of fees to any Freelancer; (i) your dispute of or failure to
pay any Invoice or any other Payment; or (j) your obligations to a
Freelancer. Any such indemnification shall be conditioned on our: (i)
notifying you in writing of any such claim, demand, action, cost,
liability, loss or threat of any thereof; (ii) cooperating with you
in the defense or settlement thereof; and (iii) allowing you to
control such defense or settlement. We shall be entitled to
participate in such defense through our own counsel at our own cost
and expense. We reserve the right to report any wrongdoing of which
we become aware to the applicable government agencies or otherwise.</font></font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
<font face="Arial, serif"><font size="2" style="font-size: 11pt">E.&nbsp;</font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt"><b>Links.</b></font></font><font face="Arial, serif"><font size="2" style="font-size: 11pt">&nbsp;The
Platform may contain links to third-party web sites not under the
control or operation of ExO. When we provide links, we do so only as
a convenience and do not endorse and are not responsible for the
content of any linked site or any link contained in a linked site.</font></font></p>
