<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
    <strong>OpenExO Terms of Service</strong>
    </font>
</p>
<p><i>Last modified: February 18, 2018</i></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in" align="justify">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
    These terms ("Terms") apply when you use our website and any related apps, as well as related products and services (“Services”) provided through the OpenExO platform by ExO Works Europe, SLU, or related or affiliated entities. Because we provide a variety of services, some additional terms, agreements, or requirements (such as terms or agreements that apply to clients and consultants) may apply, and will become part of your agreement with us when those services are used; where such additional terms or agreements apply, before using or participating in those services you will be asked to and will need to agree to these additional terms.

</font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
        <strong>Policies & Privacy</strong>
</font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in" align="justify">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
    When you use our Services, you also agree to follow any policies made available to you within the services. Additionally, we have a separate Privacy Policy, which also governs your use or our Services (including our Website and any related apps); the policy explains how we use data and protect privacy when you use our Services, and by using our Services you agree that we may use such data according to our policies.<br>
    You may only use our Services as permitted by law, and only according to our terms and policies, including our Privacy Policy. You may only use content from our Services with our permission or with the permission of the owner, unless otherwise permitted by law.<br>
    When you use our Services, you understand and agree that we can suspend or terminate your use or access for actual or suspected violations or misconduct.<br>
    Use of our Services does not give you ownership of any intellectual property rights in our Services, or the content you access or which is presented to you. These Terms do not grant you the right to use any trademarks or other branding or logos used in our Services; such rights may be granted through other agreements. Some content provided in connection with our Services may belong to other people or organizations, and that content is the sole responsibility of the person or entity that makes it available. Our Services and content are provided under an agreement with you and you agree not to take advantage or make use of our Services or content for any purpose outside the scope of our agreement without our prior written permission.<br>
    In connection with your use of the Services, we may send you service announcements, administrative messages, business notices, and other information. You may opt out of some of those communications.
</font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
        <strong>Your ExO Account</strong>
</font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in" align="justify">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
To access some Services and content you will need an ExO account. You may  create  your  own Account, or use one assigned to you by an administrator, which may have additional terms, and the administrator may be able to access, disable, or control your account.<br>
You agree not to share your password or other access  information  to  anyone  else,  and acknowledge that you are responsible for the activity that happens on  or  through  your  ExO Account. You agree to notify us promptly if you discover or suspect any unauthorized use of your account.
</font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
        <strong>Your Content and Contributions</strong>
</font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in" align="justify">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
Some of our Services allow you to upload, submit, store, send or receive (collectively, "Transmit") content. You retain ownership of any intellectual property rights that you hold in that content.<br>
The OpenExO Platform is built on principles of openness, collaboration and creating and sharing value. In order for us to display content you share with us, so that it can be used for collaboration and for other purposes in connection with the Services, when you Transmit content to or through our services you give us certain rights. For content you Transmit that is covered by intellectual property rights (“IP Content”) in connection with our Services, you specifically give us and those we work with the following permission: you grant us a non-exclusive, transferable, sub-licensable,
royalty-free, worldwide license to display, use and modify any IP Content (“IP License”). Make sure that you have the necessary rights to grant us this license for any content that you submit to our Services; if the content you submit is covered by a separate confidentiality agreement with us, and        is properly shared under that agreement, that agreement will remain in effect. You understand that you do not have rights in content or the intellectual property of other parties shared in connection   with the Services or on the OpenExO platform, and you agree not to use such materials without the permission of the owner; nothing in these Terms transfers any such rights to you.
<br>
Some content is covered by copyright, and if you think that your copyright is being violated in connection with our Services and if you want to notify us, you can submit a written notice to us (via email to <a href="mailto:legal@openexo.com">legal@openexo.com</a>) for our review. So that we can effectively review any such notice, any such notice must contain all required information, as set out in the U.S. Digital Millennium Copyright Act. Instructions can be found <a href="https://s3.amazonaws.com/exolever/static/agreement/IP_Compliance_Policy.pdf" target="_blank">here</a>.<br>
We hope that you'll share your ideas with us about how to improve our services; please note that any feedback or suggestions submitted to us may be used freely and without any obligation to you. Please send any suggestions or support requests to <a href="mailto:support@openexo.com">support@openexo.com</a>.
</font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
        <strong>Our Software, Content and Platform</strong>
</font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in" align="justify">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
For the duration of any agreement you have with us concerning access to our software and/or website, we give you a non-exclusive license to use our software as a part of the Services. The formal legal description of this license is a: "personal, worldwide, royalty-free, non-assignable and non-exclusive license," that is provided for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by us in the manner permitted by these Terms.<br>
You may not copy, modify, distribute, sell or lease any part of our Services, content, or software,      and you are not permitted in any way, either directly or indirectly, to reverse engineer or attempt to extract the source code of that software or otherwise copy or take what we've developed, unless    you have our written permission.
</font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
        <strong>Changes to our Services</strong>
</font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in" align="justify">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
We are constantly changing and improving our Services, and may add or remove features or functions or content at any time. Just as you can stop using our Services at any time, at any time we may suspend or stop providing Services to you or add or create new limits to our Services. If you have a contract with us for specific services and you believe a change interferes with this contractual right, please let us know right away.
</font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
        <strong>Warranties, Disclaimers, and Limits</strong>
</font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in" align="justify">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
    Although we work hard to provide our Services using commercially reasonable skill and care, our promises about our Services have limits. Since these are important, they appear in "all caps."<br>
    OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, WE DO NOT, AND OUR AFFILIATED PARTIES DO NOT, MAKE ANY SPECIFIC PROMISES ABOUT THE
SERVICES. For example, we do not make any commitments about the content within or the specific functions of the Services, the results of using our Services or their availability to meet your needs. All Services are provided "as is." TO THE EXTENT PERMITTED BY LAW:<br>
<ul>
<li>WE EXCLUDE ALL WARRANTIES, INCLUDING (BUT NOT LIMITED TO) WARRANTIES LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR   PURPOSE AND NON-INFRINGEMENT.</li>
<li>WE (AND OUR AFFILIATED PARTIES) WILL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY OR PUNITIVE DAMAGES.</li>
<li>THE TOTAL LIABILITY FOR US AND OUR AFFILIATED PARTIES FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE LESSER OF: $100 OR THE AMOUNT THAT YOU PAID US TO USE THE SERVICES DURING THE MOST RECENT 12 MONTHS OR THE MINIMUM AMOUNT PERMITTED BY APPLICABLE LAW. IN LIEU OF DAMAGES, WE MAY CHOOSE TO SUPPLY YOU WITH THE SERVICES AGAIN, AND YOU AGREE TO ACCEPT THIS AS SATISFACTION OF ANY CLAIM YOU MAY HAVE RELATED TO THOSE SERVICES.</li>
</ul>
IN ALL CASES, WE AND OUR AFFILIATES, SUPPLIERS, DISTRIBUTORS WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.
</font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
        <strong>Business uses of our Services</strong>
</font>
</p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in" align="justify">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
If you are using our Services on behalf of a business, that business accepts these Terms and that business will hold harmless and indemnify us and our affiliates, officers, agents, consultants and employees from any claim, action or proceedings arising from or related to the use of the Services or violation of these Terms, including any liability or expense arising from claims, losses, damages, judgements, litigation costs and legal fees.
</font></p>
<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
        <strong>Related Agreements for Contractors or Clients About these Terms</strong>
</font>
</p>

<p style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 0.25in" align="justify">
    <font size="2" style="font-size: 11pt" face="Arial, serif">
We may modify these Terms or any additional terms that apply to a Service to reflect changes to the law, changes to our policies, changes to our Services, or for any other reason. You should review the Terms regularly. We will post a notice of modifications to these Terms on this page and will post a notice of modified additional terms in the applicable Service. Changes addressing new functions for a Service or changes made for legal reasons will be effective immediately, and other changes may not take effect for 14 days. If you do not agree to the modified terms for a Service, you should discontinue your use of that Service. If there is ever any inconsistency between these Terms and the additional terms, the additional terms will apply as to the extent of any such inconsistency.<br>
If you do not comply with these Terms and we do not take immediate action, we may still take action in the future and we do not give up any rights we may have. If it turns out that a particular term is not enforceable, this will not affect any other terms.<br>
The laws of the State of Spain (excluding conflict of laws rules) will apply to any disputes arising   out of or relating to these Terms or the Services, unless you have a contract with us for particular services that specifies another law applies. All claims arising out of or relating to these Terms or the Services will be litigated exclusively in the courts of Granada, Spain, and you and ExO Works Europe SLU consent to personal jurisdiction in those courts.
</font></p>
