<h1>EXO MARKETPLACE CONDITIONS</h1>

<p style="font-style: italic">Last modified: July 10th, 2019</p>

<p>Please read carefully these terms as they contain guidelines and information you should not miss
regarding your legal rights, remedies and obligations.<br>
These EXO MARKETPLACE CONDITIONS are a contract between you (‘’You’’ or ‘’User’’) and ExO
WORKS EUROPE S.L.U (‘’OPENEXO’’, ‘’Company’’, ‘’Platform’’) and will guide the relationship of
the OPENEXO’s marketplace Platform usage between both parties.<br>
The conditions set forth herein, may vary or be modified by OPENEXO at its sole discretion in
order to improve our service and update the conditions accordingly to future needs. The changes
or amendments may include substantial changes for the parties, in this case, OPENEXO will notify
you about the specific amendments.</p>

<p><strong>1. PURPOSE OF OPENEXO</strong></p>

<p>The marketplace is a market where You can either be a ‘’Creator’’ or an ‘’Applicant’’. OPENEXO
makes available this site in order to facilitate an exponential community which gathers qualified
professionals in many different fields of expertise.<br>
In the marketplace, users can identify fields of expertise in order to advertise, buy and sell
expertise services online. OPENEXO provides the Platform, hosting and maintenance of the
marketplace, facilitating finding and hiring for the users.<br>
OPENEXO also makes its ExO Sprint Tool Platform available for the users that may choose this
option.</p>

<p><strong>2. USERS OF THE OPENEXO MARKETPLACE</strong></p>

<p>As a marketplace User, You could be either an Applicant or a Creator of an opportunity.<br>
All ExO marketplace users are knowledgeable in an expertise field and ExO methodology experts.
The way You can interact in the marketplace will depend on the level of certification that You
hold.</p>

<p><strong>3. RELATIONSHIP WITH OPENEXO</strong></p>

<p>OPENEXO makes the marketplace available as a space where users can find business
opportunities and projects to participate in.<br>
The Creator further acknowledges, agrees, and understands that he/she is solely responsible for
issuing a Statement of Work with an Applicant and for verifying any information about the other
party, including any feedback or profile information.<br>
The Creator acknowledges, agrees and understands that the Applicant is solely responsible for
providing the service in a professional manner, high grade, nature and quality.<br>
OPENEXO is not a party to the relationship or any dealings between the Creator and the Applicant
or the Creator’s client. Without limitation, they are solely responsible for ensuring the accuracy
and legality of any Applicant.<br>
The Creator also acknowledges, agrees and understands that the Applicants are solely
responsible for determining, and have the sole right to determine which projects to accept; the
time, place, manner, and means of providing any services.<br>
The Creator agrees and acknowledges that the Applicant is free to determine when and if to
perform the services, including the days worked and time periods of work, and OPENEXO does
not set or have any control over work hours, work schedules or work location.<br>
The Applicant will be paid directly by the Creator such amounts fixed by the Creator in the
payment terms established in the opportunity. OPENEXO is not a party in the payment process
and does not provide nor guarantee the Applicant a payment, a regular salary or any minimum,
regular payment.
</p>

<p><strong>3.1 NON-EXCLUSIVITY</strong></p>

<p>Nothing in these Conditions is intended to prohibit or discourage (nor should be construed as
prohibiting or discouraging) any user from engaging in any other business activities or providing
any services through any other channels they choose. Users are free at all times to engage in
such other business activities and services and are encouraged to do so.</p>

<p><strong>3.2 INDEPENDENT CONTRACTOR</strong></p>

<p>Both Creators’ and Applicants’ relationship with OPENEXO will not be that of a contractor,
employee or any related partners. These Conditions shall not be deemed to create a partnership
or joint venture and neither party is the other’s agent, partner, employee or representative.
Neither party shall have the right to obligate or bind the other party in any manner whatsoever,
and nothing herein contained shall give or is intended to give any rights of any kind to any third
persons. This Agreement is not a franchise agreement or an agreement to enter into a franchise
relationship.</p>

<p><strong>4. CREATOR RIGHTS AND OBLIGATIONS</strong></p>

<p>Being a Creator means that you are an OPENEXO Community member posting opportunities.<br>
The acceptance of these conditions gives the Creator the chance to publish opportunities in the
ExO MARKETPLACE in order to find qualified Applicants for his/her projects.<br>
In order to post opportunities, the Creator must comply with the following terms:</p>

<ul>
	<li>As the Creator, you are responsible for setting up dates and timing of the
services.</li>
	<li>YOU are responsible for setting up the price and the payment currency.</li>
	<li>The Creator is solely responsible for describing the services in an accurate
manner in order to give the appropriate information to the Applicants.</li>
	<li>The Creator is responsible for the election of the candidates. The Creator can
make the appropriate research and negotiation with the Applicant and
consultation of the Applicant’s profile in order to make the right decision for the
required task.</li>
	<li>The Creator is solely responsible for any and all opportunities he/she posts.
Accordingly, he/she represents and warrants that any opportunity he/she posts
and the Statements of Work he/she entered into with the Applicants will not
breach any agreements he/she has entered into with any third parties and will
comply with all applicable laws, Tax requirements, and rules and regulations that
may apply to him/her; and will not conflict with the rights of third parties. Please
note that OPENEXO assumes no responsibility for the content of opportunities
or for any Member’s compliance with any applicable laws, rules and regulations
but will try to prosecute inappropriate postings to the possible extent.</li>
	<li>The Creator will be responsible for guiding the Applicants in the project to be
delivered.</li>
	<li>After the completion of the services, the Creator has the chance to give feedback
about the Applicant's performance.</li>
	<li>The Creator is solely responsible for making the payment on time according to
the agreed terms with the Applicant.</li>
</ul>

<p><strong>5. APPLICANT RIGHTS AND OBLIGATIONS</strong></p>

<p>By accepting this Agreement, Applicant warrants that they are qualified (or are duly licensed, as applicable) and have the experience and ability to properly perform the services. Applicant will
use Applicant’s best efforts to perform the services in a professional manner, high grade, nature
and quality, so that the results are satisfactory to the Creator. Applicant shall devote the
compromised time to perform the services.<br>
The Applicant warrants that his/her performance of the services does not violate any agreement
or obligation between the Applicant and a third party; the Service as delivered to the Creator will
not infringe any proprietary right (including any intellectual property rights) held by any third
party; and the Services provided by the Applicant shall be performed in a professional manner,
shall be of high quality, and shall be performed in a timely manner and meet deadlines agreed
between the Applicant and the Creator.<br>
The Applicant is solely responsible for honoring the confirmed opportunities. Once the Applicant
decides to enter into a transaction with the Creator by accepting the scheduling appointment via
the Platform, these Conditions and other terms, rules and restrictions associated with such appointment may apply. The Applicant acknowledges and agrees that it is the Applicant and not
OPENEXO responsible for performing the obligations stated in any opportunity.</p>

<p><strong>6. EXO MARKETPLACE APPOINTMENTS AND FINANCIAL TERMS</strong></p>

<p>Within the ExO Marketplace, the Creator decides the budget for the different opportunities and
the Applicant is free to decide whether to apply or not to the opportunity.
To the extent possible, OPENEXO will observe the inappropriate behaviors and malpractices and
will try to sanction the identified users for posting those.<br>
The payment terms will be established between Applicant and Creator and OPENEXO will not be
liable for any non-payment. OPENEXO does not handle the payments between Applicant and
Creator, those should be agreed and handled by the involved parties in the opportunity.</p>

<p><strong>7. USER CONDUCT</strong></p>

<p>As a User of the OPENEXO Marketplace, you understand and agree that in connection with your
use of our Platform and Services, you accept and agree that you will not infringe the established
conditions in our <a href="/static/agreement/OpenExO%20Terms%20of%20Service%20v3.pdf">Terms of Service</a> including without limitation the below specific User conducts
for marketplace users:</p>

<ul>
 	<li>Transgress the rights of any person or entity, including without limitation, their intellectual property, privacy, publicity or contractual rights;</li>
	<li>Use our Platform or Services to distribute unsolicited commercial email ("spam") or advertisements;</li>
	<li>"Stalk" or harass any other user of our Platform or Services or collect or store any personally identifiable information about any other user other than for purposes of transacting as an OPENEXO member;</li>
	<li>Contact an Applicant for any end other than asking a Services-related question.</li>
 	<li>Contact a Creator for any end other than asking Services-related questions;</li>
	<li>Recruit or otherwise solicit any other user to join third party services or websites that are competitive to OPENEXO, without OPENEXO’s prior written approval;</li>
	<li>Impersonate any person or entity, or falsify or otherwise misrepresent yourself or your affiliation with any person or entity;</li>
	<li>Use the Platform and Services to find an Expert and then complete a transaction independent of the Platform or Services in order to avoid the payment of any fee to OPENEXO for its services;</li>
	<li>As Creator, submit any Opportunity with fake or misleading information, or submit any Opportunity with a price that you do not intend to respect;</li>
</ul>

<p>OPENEXO reserves the right to investigate and prosecute violations of any of the above to the
fullest extent of the law.<br>
The User acknowledges that OPENEXO has the right to monitor your access to our use of the
Platform or Services or the content or to review or edit any user content solely to ensure your
compliance with these conditions or with the applicable law under the order or requirement of
the authorities.<br>
OPENEXO reserves the right, at any time and without prior notice, to remove or disable access
to any Content that OPENEXO, at its sole discretion, considers to be objectionable for any reason,
in violation of these Conditions or otherwise harmful to the Platform or/and Services.</p>

<p><strong>8. FEEDBACK AND REPORTING MISSCONDUCT</strong></p>

<p>At OPENEXO we are very committed with our ecosystem members and we welcome and
encourage you to provide feedback, comments and suggestions within 30 days after the
completion of the Opportunities where you participated and also for feedback in regard to
OPENEXO performance for improvements and updates. You can send us an email to:
<a href="mailto:legal@openexo.com?subject=Marketplace feedback and reporting missconduct">legal@openexo.com</a><br>
In addition, If you feel any user is acting or has acted inappropriately, including but not limited
to, anyone who (i) engages in offensive, violent or sexually inappropriate behavior, (ii) you
suspect of fraud, or (iii) engages in any other disturbing conduct, you should immediately report
such person to the appropriate authorities and to OPENEXO.<br>
OPENEXO reserves the right to publish or delete the feedback you leave in the Platform regarding
the performance of the hired staff on demand.</p>

<p><strong>9. CANCELLATION TERMS</strong></p>

<p>Cancellations terms shall be agreed between the parties; any modification of the agreed
Conditions or of the Statement of Work must be accepted by the parties before the starting date
of the service.<br>
OPENEXO shall not be liable for any delay, damage or any other situation in any way.</p>

<p><strong>10. OPENEXO PLATFORM USAGE</strong></p>

<p>For more information regarding our service, content and software, please check our Terms and
Conditions here: <a href="/static/agreement/OpenExO%20Terms%20of%20Service%20v3.pdf">Terms of Service</a>.</p>