{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'New question from participants' %}" title="{{post_title}}" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}

{% block wrapper-title %}
    {% include "base/user_information.mjml" with image=created_by_profile_picture name=created_by_name user_title=created_by_role %}
{% endblock %}

{% block content %}
    <mj-text css-class="post-body-content">{{post_content|safe}}</mj-text>
{% endblock %}

{% block call_to_action %}
    {% trans "Answer" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
