[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[dev-packages]
aioresponses =  "*"
flake8 =  "*"
flake8-import-order =  "*"
ipdb = "*"
mccabe =  "*"
pep8-naming =  "*"
py =  "*"
pycodestyle =  "*"
pyflakes =  "*"
pytest =  "*"
pytest-asyncio =  "*"
tblib = "*"

[packages]
colorama = "*"
hiredis = "*"
requests = "*"
socketshark = "*"
uwsgi = "*"
