{% extends "project/base.html" %}
{% load bootstrap_pagination bootstrap3 staticfiles django_bootstrap_breadcrumbs breadcrumb %}
{% load images %}

{% block breadcrumbs %}
    {{block.super}}
    {% breadcrumb "Certification Group" "tools:relation:group-list" %}
    {% if object.pk %}
        {% breadcrumb "Edit" "tools:relation:group-update" object.pk %}
    {% else %}
        {% breadcrumb "Add" "tools:relation:group-create" %}
    {% endif %}
{% endblock %}

{% block header %}
<div class="col-lg-10">
    <h2>Certification Group</h2>
</div>
<div class="col-xs-12 p-r-none">
    {% render_view_breadcrumbs "base/breadcrumb.html" %}
</div>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-12">
        <div class='ibox float-e-margins'>
            <div class="ibox-title">
                <h2>{% if object.pk %}Edit{% else %}Add{% endif %} group</h2>
            </div>
            <div class="ibox-content">
                <form id='group-form' action="." method="post" class="
                styles-form" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="content clearfix p-m m-t-none col-lg-6 col-xs-12">
                        <div class='row'>
                            <div class='col-xs-12'>
                                {% bootstrap_field form.name %}
                                {% bootstrap_field form.course_name %}
                                {% bootstrap_field form.issued_on %}
                                {% bootstrap_field form.description %}
                                <p>Example of ExO Ambassador:<br>
                                    Represent and promote the ExO brand to future clients, partners and the general public
                                </p>
                                <p>Example of ExO Coach:<br>
                                    Guide clients seeking transformation processes through the ExO Model
                                </p>
                                <p>Example of ExO Foundations:<br>
                                    Discover the basics of ExOs and how to build one
                                </p>
                                <p>Example of ExO Trainer: <br>
                                    Deliver a suite of in-person and virtual ExO Workshops and other services
                                </p>
                                <p>Example of ExO Consultant:<br>
                                Provides you a detailed overview of the ExO Attributes (SCALE and IDEAS) with a special focus on applying these to commercial organizations in an advisory/consulting role</p>
                                {% bootstrap_field form.type %}
                                {% bootstrap_field form.content %}
                            </div>
                            <div class="full-width pull-right m-r-xs text-right">
                                <button class="btn btn-positive-choice" type="submit">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
