[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[scripts]
install-local = "pip install -r local_requirements.txt"

[dev-packages]
autopep8 = "*"
coverage = "*"
django-nose = "*"
django-pdb = "*"
factory-boy = "*"
flake8 = "*"
flake8-debugger = "*"
flake8-print = "*"
flake8-todo = "*"
ipdb = "*"
mock = "*"
pep8 = "*"
pycodestyle = "*"
pylint = "*"
pylint-Django = "<3"
s3cmd = "*"
tblib = "*"

[packages]
beautifulsoup4 = "*"
boto =  "*"
celery = {extras = ["redis"],version = "*"}
dj_anonymizer = "*"
Django = "<3.0"
django-activity-stream = "*"
django-appconf = "*"
django-bootstrap-datepicker-plus = "*"
django-celery-results = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-embed-video = "*"
django-extensions = "*"
django-guardian = "*"
django-multiselectfield = "*"
django-redis-sessions = "*"
django-storages = "*"
django-timezone-field = "*"
djangorestframework = "*"
djangorestframework-camel-case =  "*"
djangorestframework-jwt =  "*"
docutils = "*"
drf-nested-routers = "*"
drf-yasg = {version = "*", extras = ["validation"]}
exo-changelog = "*"
Faker = "*"
gunicorn = "*"
health-check = "*"
lib-exo-populator = "*"
packaging = "*"
pyyaml = "*"
redis = "*"
requests-mock = "*"
schedule =  "*"
sentry-sdk = "*"
service_identity = "*"
simple-user = ">=0.9.1"
singleton-decorator = "*"
stringcase = "*"
django-reversion = "*"
django-filestack = ">=0.4.2"
xlsxwriter = "*"
filestack-python = "*"
django-ratings-models = "*"
django-typeform-feedback = ">=0.2.1"
django-exo-role = "*"
