{% extends "exo-backoffice/base.html" %}

{% block content %}
<div id="not-found">
  <div class="logo"></div>
  <div class="not-found-container">
    <div class="not-found-details">
      <span class="error-code">Congrats!!</span>
      <span class="error-description">
        The response has been marked as approved
      </span>
      <p>&nbsp;</p>
      <span class="map_title">
        <a href="/" class="map_content">Go back</a>
      </span>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>
{% endblock %}
