{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'New opportunity' %}" title="{{title}}" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}

{% block wrapper-title %}
    {% include "base/user_information.mjml" with image=created_by_profile_picture name=created_by_name user_title=created_by_user_title %}
{% endblock %}

{% block content %}
    <mj-text>Hello {{recipient_name}},</mj-text>

    <mj-text>{{created_by_name}} has recently published a new opportunity.</mj-text>

    <mj-text>
    Want to check it out and see if it can be a fit for you? You just need to accept the ExO Marketplace Conditions and you'll be set to view all the details.
    </mj-text>

{% endblock %}

{% block call_to_action %}
    {% trans "Go to marketplace" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}

