{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'Opportunity Update' %}" title="{{title}}" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}

{% block wrapper-title %}
    {% include "base/user_information.mjml" with name="OpenExO Team" %}
{% endblock %}

{% block content %}
    <mj-text>Hello {{applicant_name}},</mj-text>
    <mj-text>
        <strong>Thank you very much for your interest in this opportunity, we are sorry to let you know that it has been closed. </strong>
    </mj-text>
    {% if comment %}
        <mj-text>
            {{created_by_name}} would like to send you this message:
        </mj-text>
        <mj-text font-style='italic' color="grey" font-weight="600">
            {{ comment|linebreaksbr|safe }}
        </mj-text>
    {% endif %}
    <mj-text>
        The transformation wheel keeps spinning and there are plenty of professionals looking for someone like you to help them in their projects. We encourage you to check the Marketplace to find new and exciting transformation challenges.
    </mj-text>
    <mj-text>
        Kind regards,<br>
        <strong>OpenExO Team</strong>
    </mj-text>

{% endblock %}

{% block call_to_action %}
    {% trans "GO TO MARKETPLACE" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
