{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'Opportunity Update' %}" title="{{title}}" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}

{% block wrapper-title %}
    {% include "base/user_information.mjml" with name="OpenExO Team" %}
{% endblock %}

{% block content %}
    <mj-text>Hello {{applicant_name}},</mj-text>
    <mj-text>
        <strong>We are sorry to let you know that the opportunity has eventually been assigned to someone else and is now closed.</strong>
    </mj-text>
    <mj-text>
        There are plenty of professionals looking for someone like you to help them in their projects and we encourage you to check the Marketplace to find new and exciting challenges. Let’s keep transforming the world into a better place.
    </mj-text>
    <mj-text>
        Kind regards,<br>
        <strong>OpenExO Team</strong>
    </mj-text>

{% endblock %}

{% block call_to_action %}
    {% trans "GO TO MARKETPLACE" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
