{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'PROJECT COMPLETION' %}" title="{{title}}" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}

{% block wrapper-title %}{% endblock %}

{% block content %}
    <mj-text>Hello {{applicant_name}},</mj-text>
    <mj-text>
        <strong>This project will be ending and closing today. Please leave your feedback about {{created_by_name}}'s work.</strong>
    </mj-text>
    <mj-text>
    You have 7 days to leave your feedback. The system is double-blind, which means that the feedback won’t be visible until both parties provide it for each other.
    </mj-text>
    <mj-text>
        Kind regards,<br>
        <strong>OpenExO Team</strong>
    </mj-text>

{% endblock %}

{% block call_to_action %}
    {% trans "LEAVE FEEDBACK" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
