{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'Opportunity Update' %}" title="{{title}}" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}

{% block wrapper-title %}
    {% include "base/user_information.mjml" with name="OpenExO Team" %}
{% endblock %}

{% block content %}
    <mj-text>Hello {{created_by_name}},</mj-text>
    <mj-text>
        <strong>We would like to remind you that in {{duedate_timedelta}}, on {{duedate}}, this opportunity will be automatically closed.</strong>
    </mj-text>
    <mj-text>
        You can extend the deadline if you wish. If the opportunity isn’t assigned to anyone by then, it will be closed and all applicants and users you chatted with regarding the opportunity will receive a notification.
    </mj-text>
    
    <mj-text>
        Kind regards,<br>
        <strong>OpenExO Team</strong>
    </mj-text>

{% endblock %}

{% block call_to_action %}
    {% trans "EDIT DEADLINE" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
