{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'PROJECT COMPLETION' %}" title="{{title}}" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}

{% block wrapper-title %}{% endblock %}

{% block content %}
    <mj-text>Hello {{applicant_name}},</mj-text>
    <mj-text>
        <strong>We are glad to let you know that {{created_by_name}} has left feedback about your work on the project!</strong>
    </mj-text>
    <mj-text>
    You can check it out here.
    </mj-text>
    <mj-text>
        Kind regards,<br>
        <strong>OpenExO Team</strong>
    </mj-text>

{% endblock %}

{% block call_to_action %}
    {% trans "VIEW FEEDBACK" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
