{% extends "base/base_circles.mjml" %}
{% load common_mails i18n %}

{% block circle-header %}
    <mj-header-ticket pre-title="{% trans 'PROJECT COMPLETION' %}" title="{{title}}" />
{% endblock %}

{% block wrapper-extra-class %}white{% endblock %}

{% block wrapper-title %}{% endblock %}

{% block content %}
    <mj-text>Hello {{created_by_name}},</mj-text>
    <mj-text>
        <strong>The deadline to provide feedback has expired. </strong>You can now view if {{applicant_name}} has left any feedback for you.
    </mj-text>
    <mj-text>
        We hope the project was a great success and we look forward to seeing you active in the Marketplace again soon!
    </mj-text>
    <mj-text>
        Kind regards,<br>
        <strong>OpenExO Team</strong>
    </mj-text>

{% endblock %}

{% block call_to_action %}
    {% trans "VIEW FEEDBACK" as see_details %}
    {% include "base/call_to_action.mjml" with call_to_action=see_details %}
{% endblock %}
